<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Virtua_FreshMail::config_freshmail" title="Freshmail Configuration" translate="title" sortOrder="50"/>
                            <resource id="Virtua_FreshMail::config_freshmail_fllow_up_email" title="Freshmail Follow Up Email" translate="title" sortOrder="60"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Reports::report">
                    <resource id="Virtua_FreshMail::reportroot" title="FreshMail" translate="title" sortOrder="45">
                        <resource id="Virtua_Freshmail::report_abandonedcart" title="Abandoned Cart" translate="title" sortOrder="10"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
