<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="virtua_freshmail" translate="label" sortOrder="999999" class="freshmail-tab">
            <label>Freshmail</label>
        </tab>
        <section id="freshmail" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Virtua_FreshMail::config_freshmail</resource>
            <class>separator-top</class>
            <label>Freshmail Configuration</label>
            <tab>virtua_freshmail</tab>
            <group id="banner" translate="label" type="text" sortOrder="5" showInWebsite="1" showInStore="1" showInDefault="1">
                <frontend_model>Virtua\FreshMail\Block\Adminhtml\System\Config\Banner</frontend_model>
            </group>
            <group id="connection" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Connect shop with FreshMail</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable FreshMail Integration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Set FreshMail Integration to enable/disable.</comment>
                </field>
                <field id="bearer_token" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Bearer Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                </field>
                <field id="freshmail_test_connect_wizard" translate="button_label" sortOrder="70" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label/>
                    <button_label>Test Connection</button_label>
                    <frontend_model>Virtua\FreshMail\Block\Adminhtml\System\Config\TestConnection</frontend_model>
                </field>
            </group>
            <group id="transactional_emails" translate="label" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Transaction Emails</label>
                <field id="enable_api_send" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Send transactional emails by FreshMail servers</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="lists" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Recipient list</label>
                <field id="list" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose a recipient list in FreshMail with which you want to synchronize subscribers and shop clients</label>
                    <frontend_model>Virtua\FreshMail\Block\Adminhtml\System\Config\Form\Field\Lists\Frontend\RefreshButton</frontend_model>
                    <source_model>Virtua\FreshMail\Block\Adminhtml\System\Config\Form\Field\Lists\Source\ListData</source_model>
                </field>
            </group>
            <group id="debug" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Debug Mode</label>
                <field id="debug" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable debug mode in order to help programmers find and resolve issues related with FreshMail module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="follow_up_email" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Virtua_FreshMail::config_freshmail_fllow_up_email</resource>
            <class>separator-top</class>
            <label>Follow-Up Email</label>
            <tab>virtua_freshmail</tab>
            <group id="abandoned_cart" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Abandoned Cart</label>
                <field id="first_email_heading" translate="label" sortOrder="50" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>First Email</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="first_email_enabled" translate="label" type="select" sortOrder="100" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="first_email_send_after" translate="label" type="select" sortOrder="150" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Virtua\FreshMail\Model\Config\Source\FollowUpEmail\SendAfterTime</source_model>
                    <depends>
                        <field id="first_email_enabled">1</field>
                    </depends>
                </field>
                <field id="first_email_template" translate="label" type="select" sortOrder="200" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Email Template</label>
                    <frontend_class>email-template</frontend_class>
                    <source_model>Virtua\FreshMail\Model\Config\Source\FollowUpEmail\EmailTemplates</source_model>
                    <depends>
                        <field id="first_email_enabled">1</field>
                    </depends>
                </field>
                <field id="first_email_template_edit_button" translate="button_label,hint" sortOrder="230" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label/>
                    <button_label>Edit Template</button_label>
                    <frontend_model>Virtua\FreshMail\Block\Adminhtml\System\Config\EditTemplate</frontend_model>
                    <comment>Template will open in FreshMail editor. After making changes and saving template in FreshMail, go to Magento and click on 'Synchronize templates' to see the changes.</comment>
                    <depends>
                        <field id="first_email_enabled">1</field>
                    </depends>
                </field>
                <field id="second_email_heading" translate="label" type="select" sortOrder="250" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Second Email</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="second_email_enabled" translate="label" type="select" sortOrder="300" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="second_email_send_after" translate="label" type="select" sortOrder="350" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Virtua\FreshMail\Model\Config\Source\FollowUpEmail\SendAfterTime</source_model>
                    <depends>
                        <field id="second_email_enabled">1</field>
                    </depends>
                </field>
                <field id="second_email_template" translate="label" type="select" sortOrder="400" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Email Template</label>
                    <frontend_class>email-template</frontend_class>
                    <source_model>Virtua\FreshMail\Model\Config\Source\FollowUpEmail\EmailTemplates</source_model>
                    <depends>
                        <field id="second_email_enabled">1</field>
                    </depends>
                </field>
                <field id="second_email_template_edit_button" translate="button_label" sortOrder="430" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label/>
                    <button_label>Edit Template</button_label>
                    <frontend_model>Virtua\FreshMail\Block\Adminhtml\System\Config\EditTemplate</frontend_model>
                    <comment>Template will open in FreshMail editor. After making changes and saving template in FreshMail, go to Magento and click on 'Synchronize templates' to see the changes.</comment>
                    <depends>
                        <field id="second_email_enabled">1</field>
                    </depends>
                </field>
                <field id="third_email_heading" translate="label" type="select" sortOrder="450" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Third Email</label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
                <field id="third_email_enabled" translate="label" type="select" sortOrder="500" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="third_email_send_after" translate="label" type="select" sortOrder="550" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Send After</label>
                    <source_model>Virtua\FreshMail\Model\Config\Source\FollowUpEmail\SendAfterTime</source_model>
                    <depends>
                        <field id="third_email_enabled">1</field>
                    </depends>
                </field>
                <field id="third_email_template" translate="label" type="select" sortOrder="600" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label>Email Template</label>
                    <frontend_class>email-template</frontend_class>
                    <source_model>Virtua\FreshMail\Model\Config\Source\FollowUpEmail\EmailTemplates</source_model>
                    <depends>
                        <field id="third_email_enabled">1</field>
                    </depends>
                </field>
                <field id="third_email_template_edit_button" translate="button_label" sortOrder="630" showInStore="1" showInWebsite="1" showInDefault="1">
                    <label/>
                    <button_label>Edit Template</button_label>
                    <frontend_model>Virtua\FreshMail\Block\Adminhtml\System\Config\EditTemplate</frontend_model>
                    <comment>Template will open in FreshMail editor. After making changes and saving template in FreshMail, go to Magento and click on 'Synchronize templates' to see the changes.</comment>
                    <depends>
                        <field id="third_email_enabled">1</field>
                    </depends>
                </field>
                <field id="force_follow_up_emails" translate="label,button_label" sortOrder="640" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Gather all abandoned carts from today and schedule emails immediately</label>
                    <comment>The emails will use first email abandoned cart template</comment>
                    <button_label>Send</button_label>
                    <frontend_model>Virtua\FreshMail\Block\Adminhtml\System\Config\ForceFollowUpEmails</frontend_model>
                    <depends>
                        <field id="first_email_enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
